{% extends 'CarboBundle::layout.html.twig'  %}
{% block js %}
    <script type="text/javascript">
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "Estadísticas"
                },
                axisX:{
                    valueFormatString: "DD MM",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "Number of Visits",
                    crosshair: {
                        enabled: true
                    }
                },
                toolTip:{
                    shared:true
                },
                legend:{
                    cursor:"pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    showInLegend: true,
                    name: "Hidratos",
                    markerType: "square",
                    xValueFormatString: "DD MM, YYYY",
                    color: "#F08080",
                    dataPoints: [
                        {% for hidrato in hidratos %}
                            {% if hidrato.user.name == app.user.name %}
                                { x: new Date({{ hidrato.fechaCreacion | date('Y,m,d') }}), y: {{ hidrato.hidratoCarbono }} },
                            {% endif %}
                        {% endfor %}
                    ]
                },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "Peso",
                        lineDashType: "dash",
                        dataPoints: [
                            {% for hidrato in hidratos %}
                                {% if hidrato.user.name == app.user.name %}
                                    { x: new Date({{ hidrato.fechaCreacion | date('Y,m,d') }}), y: {{ hidrato.peso }} },
                                {% endif %}
                            {% endfor %}
                        ]
                    }]
            });
            chart.render();

            function toogleDataSeries(e){
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else{
                    e.dataSeries.visible = true;
                }
                chart.render();
            }

        }    </script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
{% block content %}
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <h2> Tus números :</h2>
                <div class="card-deck">
                    <div class="col-md-3" style="margin: 10px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Media de Hidratos</h5>
                                <p class="card-text">Hidratos : {{ mediaHidratos |number_format(2, '.', ',')}} gr</p>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin: 10px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Media de Horas de Entreno:</h5>
                                <p class="card-text">Horas : {{ mediaHoras |number_format(2, '.', ',')}} horas</p>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin: 10px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Media de Peso</h5>
                                <p class="card-text">Peso : {{ mediaPeso |number_format(2, '.', ',') }} kg</p>
                                <a href="#" class="btn btn-primary">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chartContainer" class="col-md-10" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>

{% endblock %}