{% extends 'CarboBundle::layout.html.twig'  %}
{% block js %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            <div class="col-md-12">
                <h2> Registra tus hidratos :</h2>
                {{ form_start(form) }}
                <label class="col-lg-6">Hidratos: </label>
                {{ form_widget(form.hidratoCarbono)}}
                <label class="col-lg-6">Horas de Entreno: </label>
                {{ form_widget(form.horasEntreno) }}
                <label class="col-lg-6">Peso: </label>
                {{ form_widget(form.peso) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

